.card {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 6px;
  box-shadow: -8px 11px 81px -82px rgba(143, 143, 143, 0.75);
  color: #fff;
  padding: 20px;
  cursor: pointer;
}
.id {
  font-size: 15px;
  position: absolute;
  top: 5%;
  left: 5%;
}
.name {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
