.inputContainer {
  width: 100%;
  margin: 30px;
  display: grid;
  align-items: center;
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #606060;
  .typeLabel {
    margin-left: 30px;
  }
  form {
    width: 240px;
    display: flex;
  }
  input {
    height: 40px;
    width: 300px;
    border: none;
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    &:focus {
      border: none;
    }
  }
  button {
    background-color: #6390f0;
    color: white;
    border: none;
    position: relative;
    width: 30%;
    height: 40px;
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  }
}
