.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #ffffff 100%);
}
.App-content {
  min-height: 100vh;

  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1200px;
}
